{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CSV 2 DB</title>
</head>
<body>
<div class="row">
    <div class="col-xs-12">
        <h1>Database</h1>
    </div>
</div>
<div class="row"></div>
<div class="row">
    <div class="col-xs-12">
        <table>
            <tr>
                <td>Table 1</td>
                <td>Table 2</td>
                <td>Table 3</td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-default">View</button>
                </td>
                <td>
                    <button class="btn btn-default">View</button>
                </td>
                <td>
                    <button class="btn btn-default">View</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-default">Add</button>
                </td>
                <td>
                    <button class="btn btn-default">Add</button>
                </td>
                <td>
                    <button class="btn btn-default">Add</button>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>